<app-tela-base>
    <p titulo>Quantidades</p>

    <div class="grid mx-auto justify-items-center w-[50rem]">
        <app-grid-listagem-simples
            (apagarItem)="deletar($event)"
            [dataSource]="valorData"
            (editarItem)="navegar()"
            [itensTable]="itensTable"
            [quantidade]="true"
        >
        </app-grid-listagem-simples>
        <div class="w-full mb-5 mx-auto flex justify-end">
            <app-botao-acao-unica
                (acaoUnica)="navegar()"
                [nomeBotao]="'Adicionar'"
                [iconeBotao]="'mat_solid:add'">
            </app-botao-acao-unica>
        </div>
    </div>
</app-tela-base>
