<!-- Recent transactions table -->
<div class="xl:col-span-2 mt-5 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden ">
    <div class="overflow-x-auto sm:overflow-y-scroll mx-6 h-[20rem] w-[50rem]">
        <table
            class="w-full bg-transparent "
            mat-table
            matSort
            [dataSource]="dataSource"
            [trackBy]="trackByFn"
            #recentTransactionsTable>

            <!-- Transaction ID -->
            <ng-container matColumnDef="id">
                <th
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Código
                </th>
                <td
                    mat-cell
                    *matCellDef="let table">
                                <span class="px-6 font-medium text-sm text-secondary  grid justify-center">
                                    {{ table.id }}
                                </span>
                </td>

            </ng-container>

            <!-- descricao -->
            <ng-container matColumnDef="descricao">
                <th
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Descrição
                </th>
                <td
                    mat-cell
                    *matCellDef="let table">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ table.descricao }}
                                </span>
                </td>
            </ng-container>

            <!-- funções -->
            <ng-container matColumnDef="funcoes">
                <th
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                </th>
                <td
                    mat-cell
                    *matCellDef="let table">
                    <button
                        mat-icon-button
                        (click)="editar($event)">
                        <mat-icon [svgIcon]="'mat_solid:mode_edit_outline'"></mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        (click)="editar($event)">
                        <mat-icon [svgIcon]="'mat_solid:delete'"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container *ngIf="quantidade">
                <ng-container matColumnDef="quantidade">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Quantidade
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let table">
                                <span class="px-6 whitespace-nowrap">
                                    {{ table.quantidade }}
                                </span>
                    </td>
                </ng-container>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="itensTable"></tr>
            <tr
                class="order-row h-16"
                mat-row
                *matRowDef="let row; columns: itensTable;"></tr>

        </table>
    </div>
</div>
